<ion-footer class="custom-footer">
  <ion-toolbar>
    <ion-buttons slot="start" class="footer-buttons">
      <ion-button (click)="goTo('/inicio-footer')" class="footer-btn">
        <ion-icon slot="start" name="home-outline"></ion-icon>
        <span>Inicio</span>
      </ion-button>
      <ion-button (click)="goTo('/formulario-visitas')" class="footer-btn">
        <ion-icon slot="start" name="list-outline"></ion-icon>
        <span>Visitas</span>
      </ion-button>
      <ion-button (click)="goTo('/perfil')" class="footer-btn">
        <ion-icon slot="start" name="person-circle-outline"></ion-icon>
        <span>Perfil</span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
