.custom-footer {
  position: absolute;  /* Fija el footer en la parte inferior */
  bottom: 0;
  width: 100%;  /* Hace que el footer ocupe todo el ancho */
  z-index: 100;  /* Asegura que el footer esté sobre el contenido */
}

.custom-footer ion-toolbar {
  --background: rgba(38, 114, 190, 0.966);  /* Mantener tu color de fondo */
  --color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 10px 10px;
}

.footer-buttons {
  display: flex;
  gap: 6px;
}

.footer-btn {
  --color: #fff;
  font-weight: bold;
  border-radius: 12px;
  padding: 6px 12px;
  transition: all 0.3s ease-in-out;
  position: relative;
  overflow: hidden;

  ion-icon {
    font-size: 1.5rem;
    margin-right: 6px;
    transition: transform 0.3s ease;
  }

  span {
    transition: color 0.3s ease;
  }

  &:hover {
    --background: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

    ion-icon {
      transform: scale(1.2);
    }
  }

  &:active {
    transform: scale(0.95);
    background: rgba(255, 255, 255, 0.25);
  }

  ion-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;  /* Asegura que el contenido ocupe toda la altura disponible */
}

.content-body {
  flex: 1;  /* Esto hace que el contenido principal ocupe el espacio disponible */
}

}
