<ion-footer class="custom-footer">
  <ion-toolbar>
    <!-- Botones de navegación -->
    <div class="footer-buttons">
      <ion-button fill="clear" (click)="goTo('/inicio-footer')" class="footer-icon-btn">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goTo('/formulario-visitas')" class="footer-icon-btn">
        <ion-icon name="list-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goTo('/equipos')" class="footer-icon-btn">
        <ion-icon name="hardware-chip-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goTo('/agregar-equipos')" class="footer-icon-btn">
        <ion-icon name="laptop-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goTo('/agregar-usuario')" class="footer-icon-btn">
        <ion-icon name="person-add-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goTo('/entrega-productos')" class="footer-icon-btn">
        <ion-icon name="cube-outline"></ion-icon>
      </ion-button>
      <ion-button fill="clear" (click)="goTo('/perfil')" class="footer-icon-btn">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
