<ion-header>
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="end">
      <img src="assets/img/LOGO_RIDS.png" alt="Logo RIDS" style="height: 40px;" />
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen="true">
  <ion-row class="ion-justify-content-center ion-padding">
    <ion-col size="12" size-md="8" text-center>
      <h2 class="welcome-title">¡Bienvenido!</h2>
      <p class="welcome-subtitle">Aquí tienes un resumen de tu día.</p>
    </ion-col>
  </ion-row>
  <!-- Calendario -->
  <ion-card class="calendar-card ion-padding">
    <ion-grid>
      <!-- Encabezados días -->
      <ion-row>
        <ion-col *ngFor="let day of dayNames" class="ion-text-center">
          <strong>{{ day }}</strong>
        </ion-col>
      </ion-row>
      <!-- Semanas -->
      <ion-row *ngFor="let week of calendarWeeks">
        <ion-col *ngFor="let day of week" class="calendar-day" [class.today]="day.isToday"
          [class.other-month]="day.otherMonth">
          {{ day.date }}
        </ion-col>
      </ion-row>
      <ion-card class="stat-card ion-padding">
        <ion-grid>
          <ion-row>
            <!-- Primer bloque: Días este mes -->
            <ion-col class="ion-text-center">
              <h2>{{ totalDaysThisMonth }}</h2>
              <p>Días este mes</p>
            </ion-col>

            <!-- Segundo bloque: Días restantes -->
            <ion-col class="ion-text-center">
              <h2>{{ daysRemaining }}</h2>
              <p>Días restantes para que paguen</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>

    </ion-grid>
  </ion-card>
</ion-content>

  <app-footer-menu></app-footer-menu>